/*公用页头页尾*/
#gate{
	position:absolute;
	left:220px;
	top:45px;
}
#gate span{padding:0 10px;}
#gate a{
	color:#666;
	font-size:15px;
}
ul#nav{
	position:absolute;
	top:-6px;
	left:220px;
}
#navbar{
	height:30px;
	width:100%;
	display:block;
	background:#333;
	position:relative;
}
#nav li{
	float:left;
	margin:10px;
}
#nav li a{color:#fff;font-size:15px;}
#wan{
	position:absolute;
	top:0px;
	left:100px;
}
#plane{
	float:right;
	
	margin-right:90px;
}
#plane a{
	color:#fff;
}
#plane li{
	color:#fff;
	margin:5px 1px;
	float:left;
}
.ava img{
	margin-right:5px;
	width:20px;
	height:20px;
	}
.ava {line-height:30px;}

.notice a span { width:18px; height:18px; display:block; background:url(../image/comm/icons.png) no-repeat 0 0; border:1px #999 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.notice a:hover span { background:url(../image/comm/icons.png) no-repeat 0 -18px; }
.pm a span { width:18px; height:18px; display:block; background:url(../image/comm/icons.png) no-repeat -18px 0; border:1px #999 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.pm a:hover span { background:url(../image/comm/icons.png) no-repeat -18px -18px; }
.setting a span { width:18px; height:18px; display:block; background:url(../image/comm/icons.png) no-repeat -54px 0; border:1px #999 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.setting a:hover span { background:url(../image/comm/icons.png) no-repeat -54px -18px; }
.admin a span { width:18px; height:18px; display:block; background:url(../image/comm/icons.png) no-repeat -90px 0; border:1px #999 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.admin a:hover span { background:url(../image/comm/icons.png) no-repeat -90px -18px; }
.quit a span { width:18px; height:18px; display:block; background:url(../image/comm/icons.png) no-repeat -72px 0; border:1px #999 solid; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.quit a:hover span { background:url(../image/comm/icons.png) no-repeat -72px -18px; }

.notice_bg { width:317px; position:absolute; right:130px; top:35px; z-index:999; padding:0; background:#fff; border:1px #ccc solid; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 0px 0px #ccc; -webkit-box-shadow:0px 0px 0px #ccc; box-shadow:0px 0px 0px #ccc; }
.notice_bg a span { border:none; }
.notice_bg .f_corner { width:10px; height:7px; background:url(../image/comm/tool_icon.png) no-repeat 0 -143px; position:absolute; right:32px; top:-6px; }
.notice_bg .notice_title { height:37px; background-color:#f2f2f2; width:317px; border-bottom:2px #e3e3e3 solid; margin:1px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; }
.notice_bg .notice_left { float:left; height:37px; line-height:37px; margin:0 0 0 10px; color:#666; font-size:14px; text-shadow:0px 1px 0px #fff; }
.notice_bg .notice_left span { height:20px; line-height:20px; padding:0 3px; border:1px #227CAC solid; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:url(../image/comm/avatar_bg.png) repeat-x 0 0; font-size:12px; color:#fff; text-shadow:0px 1px 0px #227CAC; margin-left:10px; }
.notice_bg .notice_right { float:right; height:37px; margin:0 5px 0 0; }
.notice_bg .notice_right a { height:28px; line-height:28px; padding:0 10px; border:1px #ccc solid; background:url(../image/comm/nav_bg.png) repeat-x 0 0; display:block; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#666; text-shadow:0px 1px 0px #fff; margin:3px 0 0; }
.notice_bg .notice_right a:hover { background:url(../image/comm/avatar_bg.png) repeat-x 0 -75px; border:1px #C64444 solid; color:#fff; text-shadow:0px 1px 0px #C64444; }

.notice_bg .notice_con { width:317px; margin:0px; padding:0; border-top:1px #ccc solid; max-height:400px; overflow-y:scroll; overflow-x:hidden; }
.notice_bg .loading { width:317px; margin:0px; padding:0; text-align:center; height:25px; line-height:25px; background-color:#fff; background:url(../image/comm/small_loading.gif) no-repeat 100px 4px;  }
.notice_bg .nonotice { width:317px; margin:0px; padding:0; text-align:center; height:25px; line-height:25px; background-color:#fff; }

.notice_bg .notice_system { width:317px; margin:0; padding:0 0 5px; background:url(../image/comm/tool_bg.png) repeat-x bottom left; }
.notice_bg .notice_system .notice_sys { width:300px; margin:0; padding:0; position:relative; background-color:#fff; border-top:1px #e3e3e3 solid; }
.notice_bg .notice_system .notice_sys:hover { background-color:#f2f2f2; }

.notice_bg .notice_system .notice_sys .ntime { position:absolute; right:30px; top:4px; line-height:20px; height:20px; padding:0 5px; background:url(../image/comm/avatar_bg.png) repeat-x 0 0; border:1px #227CAC solid; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#fff; text-shadow:0px 1px 0px #227CAC; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; display:table; }
.notice_bg .notice_system .notice_sys:hover .ntime { filter:alpha(opacity=100); -moz-opacity:1; opacity: 1; }

.notice_bg .sysyem_con { width:210px; line-height:20px; min-height:20px; margin:0; color:#666; padding:5px 0 5px 30px; background:url(../image/comm/tool_icon.png) no-repeat 0 -300px; }
#plane .sysyem_con a,#plane .reply_con a{color:#333}
.notice_bg .sysyem_fun { width:60px; float:right; margin:0; padding:0; height:30px; }
.notice_bg .sysyem_fun a { float:right; margin:5px 5px 0 0 }
.notice_bg .sysyem_fun a .fun_delete { width:20px; height:20px; background:url(../image/comm/icons_none.png) no-repeat -70px 0; display:block; }
.notice_bg .sysyem_fun a:hover .fun_delete { background:url(../image/comm/icons_none.png) no-repeat -70px -20px; }
.notice_bg .sysyem_fun a .fun_reply { width:20px; height:20px; background:url(../image/comm/icons_none.png) no-repeat -50px 0; display:block; }
.notice_bg .sysyem_fun a:hover .fun_reply { background:url(../image/comm/icons_none.png) no-repeat -50px -20px; }
.notice_bg .sysyem_fun a .fun_follow { width:20px; height:20px; background:url(../image/comm/icons_none.png) no-repeat -90px 0; display:block; }
.notice_bg .sysyem_fun a:hover .fun_follow  { background:url(../image/comm/icons_none.png) no-repeat -90px -20px; }


.notice_bg .notice_reply, .notice_bg .notice_follow { width:300px; margin:0; padding:0; border-bottom:1px #e3e3e3 solid; position:relative; background-color:#fff; }
.notice_bg .notice_reply:hover, .notice_bg .notice_follow:hover { background-color:#f2f2f2; }

.notice_bg .notice_reply .ntime, .notice_bg .notice_follow .ntime  { position:absolute; right:5px; top:28px; line-height:20px; height:20px; padding:0 5px; background:url(../image/comm/avatar_bg.png) repeat-x 0 0; border:1px #227CAC solid; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#fff; text-shadow:0px 1px 0px #227CAC; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; display:table; }
.notice_bg .notice_reply:hover .ntime, .notice_bg .notice_follow:hover .ntime { filter:alpha(opacity=100); -moz-opacity:1; opacity: 1; }


.notice_bg .reply_con { width:190px; line-height:20px; margin:0; color:#666; padding:5px 0 5px 50px; min-height:40px; background:url(../image/comm/tool_icon.png) no-repeat 0 0; overflow:hidden; }
.notice_bg .reply_fun { width:60px; float:right; margin:0; padding:0; height:30px; }
.notice_bg h5 { line-height:20px; color:#666; font-weight:normal; height:20px; margin:0; width:190px; overflow:hidden; font-size:12px; }
.notice_bg h5 a { font-weight:700; margin-right:5px; color:#666;}
.notice_bg h5 a:hover { color:#333; }
.notice_bg .reply_con p { line-height:20px; margin:0 0 5px; width:190px; padding:0; color:#999; }

.notice_bg .follow_con { width:190px; line-height:20px; margin:0; color:#666; padding:5px 0 5px 50px; min-height:40px; background:url(../image/comm/tool_icon.png) no-repeat 0 -150px; }
.notice_bg .avatar { float:left; }
.notice_bg .avatar a img { width:30px; height:30px; padding:2px; background:url(../image/comm/avatar_bg.png) repeat-x 0 0; border:1px #227CAC solid; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow:0px 0px 0px #999; -webkit-box-shadow:0px 0px 0px #999; box-shadow:0px 0px 0px #999; margin:2px 0 0; }
.notice_bg .avatar a:hover img { background:url(../image/comm/avatar_bg.png) repeat-x 0 -75px; border:1px #C64444 solid; }

.notice_bg .follow_con .follow_content { width:145px; margin:0; float:right; overflow:hidden; }
.notice_bg .follow_content h5 { width:145px; }
.notice_bg .follow_content p { line-height:20px; margin:0 0 5px; width:145px; padding:0; color:#999; }
.pop { padding:1px 5px; background:url(../image/comm/pop_bg.png) repeat-x 0 0; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:700; color:#fff; position:absolute; right:150px; top:15px; -moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px; -moz-box-shadow:0px 0px 0px #ccc; -webkit-box-shadow:0px 0px 0px #ccc; box-shadow:0px 0px 0px #ccc; }


/*底部版权信息*/
#footer { width:900px; text-align:center; bottom:10px; margin:0 auto 10px; clear:both; padding:20px 0 0; }
#copy { width:100%; font-size:12px; text-align:center; color:#999; text-shadow:0px 1px 0px #fff; }
#copy a{ color:#999; text-decoration:none; margin-right:5px; }
#copy a:hover { color:#666; }
#copy a.powered { margin-left:100px; margin-right:5px; }

/*个人页面*/
.tagList{
	overflow:hidden;
	width:1000px;
	margin:0 auto;
	padding-top:30px;
}
.tagList li{
	margin: 0 50px 30px 0;
	width: 280px;
	display:inline-block;
	vertical-align:top;
}
.tagList li .img{
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: 0 0 15px ;
	width:280px;
	max-height:430px;
}
.tagList li img{
	vertical-align:top;
	max-width:280px;
}
#paging{display:block;margin:0 auto;float:none}
.tagTitle{
	display: block;
	margin: 10px auto;
	width: 100px;
	background:#fff;
	height:30px;
	text-align:center;
	font-size:15px;
	font-weight:bolder;
	line-height:30px;
}
.tagClass{
	float:left;
	margin-top:90px;
	width:230px;
}
.tagClass li{
	clear:both;
	margin-bottom:10px;
	float:right
}
.tagClass li span{
	font-size:15px;
	text-align:right;
	background:#f9f9fb;
	line-height: 32px;
	width: auto;
	display: inline-block;
	float: right;
	padding:0 10px
}
.tagClass a{color:#666}
#tag{
	margin-left:230px;
	margin-top:50px;
}
#paging{
	height:30px;
	margin:0 auto;
	text-align:center;
	background:#f0f6f3;
	display:block;
	width:100px;
	line-height:30px;
}
#paging a{
	font-size:15px;
	
	color:#333
}
.info {
	background:#f6f6f6;
	padding:10px;
	font-size:12px;
}
.doSomething{
	margin-bottom:5px;
}
.class{
	float:right;
	cursor:pointer;
}
.fav{
	cursor:pointer;
}
/*产品分类*/
#tags{width:300px;}
#mytags{
	padding:10px 0;
}
#mytags dd span{
	margin:0 5px;
	color:#072;
	padding:2px;
	background-color:#f2fbf2;
	cursor:pointer;
	}
#introduce{
	width: 90%;
	padding: 30px;
	background-color: #f6f6f6;
	font-size: 14px;
	line-height: 170%;
	margin: 0 auto;
}
/*detail页*/
.d_img{
	float:left;
	margin:100px 40px 50px 120px;
}
.d_info{
	overflow:hidden;
	font-size:15px;
	padding-right:20px;
	padding-top:100px;
}
.d_doSomething{
	overflow:hidden;
	padding-top:20px;
}
.d_img img{max-width:600px;_width:600px;}
.d_doSomething .class{float:left;margin-right:50px}
.requestBuy{
	height:28px;
	padding:3px 10px;
	line-height:28px;
	margin:5px;
	background-color:#fff224;
	display:inline-block;
}
.buy{
	height:28px;
	padding:3px 10px;
	line-height:28px;
	margin:5px;
	background-color:#c5020b;
	display:inline-block;
	color:#fff
}
/*评论开始*/
#comment{
	width:430px;
	padding:20px;
	background:#F9F9F9;
	margin-top:20px;
	}
.reply_list {background-color:#fff; margin:15px auto 0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:15px 15px 10px;  -moz-box-shadow:0px 1px 0px #fff; -webkit-box-shadow:0px 1px 0px #fff; box-shadow:0px 1px 0px #fff; }
  .reply_btn { float:right; width:66px; margin:0; height:40px; }
  .reply_btn button { color:#666; border:1px #bbb solid; width:64px; height:40px; background:url(../image/nav_bg.png) repeat-x 0 0; margin:0; font-family:'Microsoft Yahei','Arail'; font-size:14px; cursor:pointer; float:right; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 1px 0px #fff; -webkit-box-shadow:0px 1px 0px #fff; box-shadow:0px 1px 0px #fff; text-shadow:0px 1px 0px #fff; outline:none; text-align:center; }
  .reply_btn button:active { background-color:#e3e3e3; background-image:none; -moz-box-shadow:0px 1px 0px #fff,0px 0px 0px #bbb inset; -webkit-box-shadow:0px 1px 0px #fff,0px 0px 0px #bbb inset; box-shadow:0px 1px 0px #fff,0px 0px 0px #bbb inset; }

 .reply_btn .disabled { color:#999; border:1px #bbb solid; width:64px; height:40px; background-image:none; background-color:#e3e3e3; margin:0; font-family:'Microsoft Yahei','Arail'; font-size:14px; cursor:pointer; float:right; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0px 1px 0px #fff; -webkit-box-shadow:0px 1px 0px #fff; box-shadow:0px 1px 0px #fff; text-shadow:0px 1px 0px #fff; outline:none; text-align:center; }

  .reply_input { float:left; width:330px; height:40px; position:relative; }
 .reply_input textarea { width:288px; border:1px #ccc solid; resize:none; outline:none; line-height:22px; height:22px; font-size:12px; color:#333; font-family:'Microsoft Yahei','Arail'; padding:8px 30px 8px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:url(../image/btn_bg.png) repeat-x 0 -240px; -moz-box-shadow:0px 1px 0px #fff; -webkit-box-shadow:0px 1px 0px #fff; box-shadow:0px 1px 0px #fff; }
 .reply_input .limit_text { position:absolute; right:-1px; top:0; width:41px; height:40px; display:block; background:url(../image/icons_none.png) no-repeat 0 0; #top:1px; }
 .reply_input .limit_text span { width:36px; height:40px; padding:0 0 0 5px; line-height:40px; color:#999; text-shadow:0px 1px 0px #fff; text-align:center; display:block; font-size:12px; }

 .reply_comment { width:100%; margin:5px 0 0; }
 .feed_comment { width:100%; margin:0; }
 .commentList { width:400px; margin:0; padding:15px 0; border-bottom:1px #ddd dotted; -moz-box-shadow:0px 1px 0px #eee; -webkit-box-shadow:0px 1px 0px #eee; box-shadow:0px 1px 0px #eee; }
 .reply_avatar { width:25px; height:25px; float:left; margin:0; padding:0; }
 .reply_avatar img { width:25px; height:25px; border:none; margin:0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
 .reply_avatar a:hover img { filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
 .reply_content { width:310px; float:left; margin-left:5px; line-height:25px; text-align:left; color:#666; padding:0; overflow:hidden; }
 .reply_content a { margin:0 5px 0 0; font-weight:700; color:#666; }
 .reply_content span { margin:0 0 0 5px; color:#999; }
 .reply_fun { width:60px; float:right; margin:0; }
 .reply_fun li { list-style:none; display:block; float:right; margin:2px 5px 0; }
 .reply_fun li span { width:20px; height:20px; display:block; }
 .reply_fun .fun_rpy_0,  .reply_fun .fun_del_0 { display:none; }
 .reply_fun .fun_rpy_1 a span  { background:url(../image/comm/icons_none.png) no-repeat -50px 0; outline:none; }
 .reply_fun .fun_rpy_1 a:hover span { background:url(../image/comm/icons_none.png) no-repeat -50px -20px; }
 .reply_fun .fun_del_1 a span { background:url(../image/comm/icons_none.png) no-repeat -70px 0; outline:none; }
 .reply_fun .fun_del_1 a:hover span { background:url(../image/comm/icons_none.png) no-repeat -70px -20px; }

 .reply_fun .fun_reply { width:25px; height:25px; display:block; background:url(../image/icons.png) no-repeat 0 -440px; float:right; }
 .reply_fun .fun_reblog { width:25px; height:25px; display:block; background:url(../image/icons.png) no-repeat -25px -440px; float:right; }
 .reply_fun .fun_like { width:25px; height:25px; display:block; background:url(../image/icons.png) no-repeat -50px -440px; float:right; }
.mbComment{
	float:left
}
.clear {
clear: both;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }

/*
 * artDialog skin
 * http://code.google.com/p/artdialog/
 * (c) 2009-2011 TangBin, http://www.planeArt.cn
 *
 * This is licensed under the GNU LGPL, version 2.1 or later.
 * For details, see: http://creativecommons.org/licenses/LGPL/2.1/
 */
 
/* common start */
body { _margin:0; _height:100%; /*IE6 BUG*/ }
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; }
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(icons/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #1c6a9e; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0F3A56; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
/* common end */

.aui_inner { background:rgba(0, 0, 0, .7); }
.aui_dialog { background:#FFF; border-radius:3px; }
.aui_outer { border:1px solid #000; border-radius:5px; box-shadow: 0 3px 0 rgba(0,0,0,0.1); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: -webkit-box-shadow linear .2s; }
.aui_state_lock .aui_outer { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }
.aui_outer:active { box-shadow:none!important; }
.aui_state_drag .aui_outer { box-shadow:none!important; }
.aui_border { border-radius:3px; }
.aui_nw, .aui_ne { width:5px; height:37px; }
.aui_sw, .aui_se { width:5px; height:5px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .7); background:#000\9!important; filter:alpha(opacity=70); }
.aui_titleBar { width:100%; height:0; position:relative; bottom:33px; _bottom:0; _margin-top:-33px; }
.aui_title { height:27px; line-height:27px; padding:0 16px 0 5px; color:#FFF; font-weight:700; text-shadow:0 1px 0 #000; }
.aui_close { padding:0; top:2px; right:5px; width:21px; height:21px; line-height:21px; font-size:18px; text-align:center; color:#EBEBEB; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; border:1px solid transparent; _border:0 none; background:#000; border-radius:15px;  }
.aui_state_drag .aui_close { color:#FFF; }
.aui_close:hover { background:#C72015; border:1px solid #000; _border:0 none; box-shadow: 0 1px 0 rgba(255, 255, 255, .3), inset 0 1px 0 rgba(255, 255, 255, .3); }
.aui_close:active { box-shadow: none; }
.aui_state_noTitle { }
.aui_content { color:#666; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne { height:5px; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:5px; }

